<div class="navbar navbar-fixed-top navbar-inverse">
	<a class="navbar-brand" href="/"><span class="brand">Conga.js</span></a>
	<ul class="nav navbar-nav">
		<li class="{% if page.nav == 'home' %}active{% endif %}"><a href="/">Home</a></li>
		<li class="{% if page.nav == 'quick-start' %}active{% endif %}"><a href="/quick-start">Quick Start</a></li>    
		<li class="{% if page.nav == 'documentation' %}active{% endif %}"><a href="/documentation">Documentation</a></li>
	</ul>
	<p class="navbar-text"><a href="https://npmjs.org/package/conga"><img src="https://badge.fury.io/js/conga.png" /></a></p>
</div>